@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@font-face {
  font-family: "Liber Splash";
  src: url("./assets/Fonts/Liber/LiberGrotesqueFamily-Black.ttf");
}

@font-face {
  font-family: "Cairo Light";
  src: url("./assets/Fonts/Cairo/Cairo-Light.ttf");
}

@font-face {
  font-family: "Cairo Black";
  src: url("./assets/Fonts/Cairo/Cairo-Black.ttf");
}

// Variables
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --app-color-danger: #eb5566;
  --app-color-danger-deeper: #FC1725;
  --app-color-danger-transparent: rgba(235, 85, 102, 0.3);
  --app-color-dark: #101010;
  --app-color-warning: #fed236;
  --app-color-success: #0faf3f;
  --app-color-primary: #4b93ff;
  --app-font-family-liber: "Liber Splash";
  --app-font-family-cairo-light: "Cairo Light";
  --app-font-family-cairo-black: "Cairo Black"
  }
  
body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: var(--app-font-family-liber);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


